<!-- Navbar -->

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Incident Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">

        <% if (!user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>

        <% } else { %>
          <li class="nav-item">
            <a class="nav-link <%= title === 'Home Page' ? 'active' : '' %>" href="/">
              <i class="fa-solid fa-house"></i> Home
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= title === 'Incidents Page' ? 'active' : '' %>" href="/incidents">
              <i class="fa-solid fa-folder"></i> Incidents
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link <%= title === 'Contact Us' ? 'active' : '' %>" href="/contactus">
              <i class="fa-solid fa-envelope"></i> Contact Us
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>