<% include partials/main_nav.ejs %>
<%- include('partials/header') %>

<h1>Create Incident Report</h1>

<form action="/incidents" method="POST">
  <label>Title:</label><br>
  <input type="text" name="title" required><br><br>

  <label>Description:</label><br>
  <textarea name="description" required></textarea><br><br>

  <label>Date:</label><br>
  <input type="date" name="date" required><br><br>

  <label>User:</label><br>
  <input type="text" name="user" required><br><br>

  <button type="submit">Submit Incident</button>
</form>

<%- include('partials/footer') %>
