<% include partials/main_nav.ejs %>

<!-- Main Content -->
<main>
  <div class= "title-section">
    <img src="/Assets/images/incident.png" alt="Logo" style="width:100px;">
    <h1>Welcome to Incident Management Website</h1>
    <p>Your gateway to managing incidents effectively.</p>
  </div>
</main>

